:root {
  --primary-color: #c86b85;
  --secondary-color: #e6a4b440;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #272142;
}
h2 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h3 {
  font-size: 36px;
  font-weight: bold;
}
.hero h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: "Poppins", sans;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 14px 30px;
}
.btn-branding:hover {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}
.btn-showcase {
  border: 1px solid var(--primary-color);
  font-size: 18px;
  padding: 14px 30px;
  color: var(--primary-color);
}
.btn-showcase:hover {
  color: #fff !important;
  background: var(--primary-color) !important;
}
.project-description {
  padding: 20px 60px 0px;
}
.head-shot {
  height: 560px;
  width: 560px;
  border-radius: 10px;
}
.content-container h4 {
  font-size: 18px;
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
  font-weight: normal;
}
.content h1 {
  font-size: 64px;
}
.content img {
  height: 489px;
  width: 598px;
  border-radius: 10px;
}
.social-links a {
  text-decoration: none;
  color: var(--primary-color);
}
.logo {
  max-height: 50px;
  border-radius: 100px;
}
nav {
  padding: 10px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-family: "Poppins", sans;
  margin-left: 24px;
}
nav ul {
  padding: 0;
  margin: 0;
  padding-top: 5px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
footer {
  margin: 60px 0;
}
footer h2 {
  font-size: 48px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 75px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--primary-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 17px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 10px;
  }
  .hero h3 {
    font-size: 24px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .head-shot {
    display: block;
    margin: 0 auto;
  }
  nav li {
    font-size: 13px;
  }
  nav ul {
    padding-top: 0;
  }
  .logo {
    max-height: 35px;
    padding-top: 5px;
  }
  .content-container h1 {
    font-size: 44px;
  }
  .content-container {
    padding: 30px 20px;
  }
}
