:root {
  --primary-color: #c86b85;
  --secondary-color: #e6a4b440;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #272142;
}
h2 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
}
p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h3 {
  font-size: 36px;
  font-weight: bold;
}
.hero h4 {
  font-size: 24px;
  font-weight: normal;
  font-family: "Poppins", sans;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 14px 30px;
}
.btn-branding:hover {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}
.btn-showcase {
  border: 1px solid var(--primary-color);
  font-size: 18px;
  padding: 14px 30px;
  color: var(--primary-color);
}
.btn-showcase:hover {
  color: #fff !important;
  background: var(--primary-color) !important;
}
.project-description {
  padding: 20px 60px 0px;
}
@media (max-width: 983px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 10px;
  }
  .hero h3 {
    font-size: 24px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
.head-shot {
  height: 560px;
  width: 560px;
  border-radius: 10px;
}
.about-section h4 {
  font-size: 18px;
}
.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 30px;
}
