:root {
  --primary-color: #c86b85;
  --secondary-color: #e6a4b4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 60px auto;
  max-width: 800px;
}
h2 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 85px;
  font-family: "Playfair Display", serif;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h3 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding-top: 8px;
  color: #4d4d4d;
  font-family: "Poppins", sans-serif;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.contact-link {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}
.about-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.homepage-link {
  display: block;
  text-align: center;
  color: var(--primary-color);
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.about-paragraphs p {
  margin: 10px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 26px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
